extends layout

block content
  h1 Welcome to Your Express Server!
  p This is the updated Express app with Bootstrap integration.
  button(type="button", class="btn btn-primary") Sample Button
  button(type="button", class="btn btn-secondary") Press me
