extends layout

block content
  h1 Search Results for Potions

  // Section for Potion Details
  section
    h2 Potion Details
    p Name: Potion of Healing
    p Effect: Heals the user for 50 HP over 10 seconds
    p Potency: 75

  // Section for Available Potions
  section
    h2 Available Potions
    ul
      li
        a(href='#') Potion of Fire Resistance
      li
        a(href='#') Potion of Strength
      li
        a(href='#') Potion of Invisibility

  // Search Form for Potions
  form(action="/search", method="get")
    label(for="search") Search Potions:
    input(type="text", name="search", id="search")
    button(type="submit") Search

  // Display Hardcoded Results in a Grid
  .container-fluid
    .row
      // Fire Resistance Potion
      .col-sm-2
        h3 Potion of Fire Resistance
        p Effect: Reduces fire damage
        p Potency: 60

      // Strength Potion
      .col-sm-2
        h3 Potion of Strength
        p Effect: Increases strength temporarily
        p Potency: 80

      // Invisibility Potion
      .col-sm-2
        h3 Potion of Invisibility
        p Effect: Grants invisibility for a short period
        p Potency: 50
